* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
}

header {
    background-color: #2A4765;
    padding: 2em;
}

.content-area {
    border: 2px solid black;
    margin: 1em 1em 0 1em;
    padding: 1em;
}

footer {
    background-color: #2A4765;
    width: 100%;
    height: 20%;
    padding: 2em;
    margin-top: 1em;
}