* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    height: 100%;
}

header,
footer {
    background-color: #2A4765;
    height: 10vh;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: white;
    align-items: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 40vw;
}

.dropdown-content a {
    padding: 1em;
    display: block;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
}

h1 {
    font-size: 24px;
}

a {
    text-decoration: none;
}

.container {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    min-height: 100vh;
}

#search-and-filter {
    display: grid;
    grid-template-columns: auto auto;
}

.content-area {
    background-color: white;
    margin: 1em;
}